<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://use.fontawesome.com/1598e5e6aa.js"></script>

    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{%  block title %}Best League{% endblock %}</title>
    <style>
        {% block style %}
        {% endblock %}
    </style>

    {% include 'competition/bootstrap_css.html' %}

</head>
<body>

{% include 'competition/navbar.html' %}

<div class="container" style="text-align: center;">
    {%  block body %}
    {% endblock %}
</div>

</body>
</html>