<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{%  block title %}Best League{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static '/../../static/competition/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'competition:index' %}">Best League</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse"  id="topNavBar">
                <ul class="nav navbar-nav">

                    <li class="">
                        <a href="{% url 'competition:index' %}">
                            <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp; Rozgrywki</a>
                    </li>
                    <li class=""><a href="{% url 'competition:team' %}">
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>&nbsp; Druzyny</a>
                    </li>
                    <li class=""><a href="{% url 'competition:player' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Pilkarze</a>
                    </li>
                </ul>
{#                <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'competition:index' %}">#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-default">Search</button>#}
{#                </form>#}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="x">
    {#                    <a href="{% url 'competition:logout-user' %}">#}
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
{%  block body %}
{% endblock %}
</body>
</html>