{% extends 'competition/base.html' %}
{% load staticfiles %}

{%  block body %}

    <div class="row">
        <div class="col-sm-7">
            <h1>Ligi</h1>

        </div>
        <div class="col-sm-5">
            <a href="{% url 'competition:league-add'  %}">
                <button type="button" class="btn btn-default">Add League</button>
            </a>
        </div>
    </div>
    <br>
    {% if all_league %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for league in all_league %}
                    <div class="col-sm-6" style="height: 80px;">
                        <h1 class="title"><a href="{% url 'competition:league_details' league.id %}">{{ league.name }}</a></h1>
                    </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h3>Niema Ligi do wyswietlenia </h3>
    {% endif %}
{% endblock %}
