{% extends 'competition/base.html' %}

{%  block body %}
    <h1>Ligi</h1>
        <div>
            <a href="{% url 'competition:league-add'  %}">
                <button type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Dodaj lige </button>
            </a>
        </div>
    {% if all_league %}
        <ul>
            <br>
            {% for league in all_league %}
                <li><a href="{% url 'competition:league_seasons' league.name %}"> {{ league.name }} </a>
                    <a href="{% url 'competition:league_update' league.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                    <a href="{% url 'competition:league_delete' league.id %}"><button type="button"><span class="glyphicon glyphicon-trash"></span></button></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Niema Ligi do wyswietlenia </h3>
    {% endif %}
{% endblock %}
