{% extends 'competition/base.html' %}

{% block body %}
<div class="row">
    <div class="col-sm-8">
        <h1> {{ league.name }}</h1>
    </div>
    <div class="col-sm-4">
        <a href="{% url 'competition:league_update' league.id %}"><button class="btn btn-default" type="button">Edit</button></a>
        <a href="{% url 'competition:league_delete' league.id %}"><button class="btn btn-default" type="button">Delete</span></button></a>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-sm-6 col-md-offset-3">
        {% if teams %}
            {% for team in teams %}
                    <img style="width: 80px; height: 80px;" src="{{ team.avatar.url }}" />
                    <div class="info" style="height: 80px;">
                        <h2 style="vertical-align: middle;"><a href="{% url 'competition:team_details' team.id %}">{{ team.name }}</a></h2>
                    </div>
            {% endfor %}
        {% else %}
            <h2>There is not teams in this league</h2>
        {% endif %}
    </div>
</div>
{% endblock %}