{% extends 'competition/base.html' %}

{% block body %}

    <div>
            <a href="{% url 'competition:match-add'  %}">
                <button type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add match </button>
            </a>
    </div>

    {% if matches %}
        {% for match in matches %}
            <li>
                <a href="{% url 'competition:match_details' match.id  %}"> {{ match.host.name }} {{ match.hostGoals }} : {{ match.guestGoals }} {{ match.guest.name }}</a>
                <a href="{% url 'competition:match_update' match.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                <a href="{% url 'competition:match_delete' match.id %}"><button type="button"><span class="glyphicon glyphicon-trash"></span></button></a>
            </li>
            <br>
        {% endfor %}
    {% else %}
        <h2>No matches found.</h2>
    {% endif %}

{% endblock %}