{% extends 'competition/base.html' %}

{% block body %}

    <h1> {{ match.host.name }} {{ match.hostGoals}} : {{ match.guestGoals }} {{ match.guest.name }}</h1>
    <h2> {{ match.date }}</h2>
    <a href="{% url 'competition:match_update' match.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
    <a href="{% url 'competition:match_delete' match.id %}"><button type="button"><span class="glyphicon glyphicon-trash"></span></button></a>

    {% if facts %}
        {% for fact in facts %}
            <li>
                <h3> {{ fact.player.name }} {{ fact.incident }} Min: {{ fact.minute }} </h3>
                <a href="{% url 'competition:fact_update' match.id fact.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                <a href="{% url 'competition:fact_delete' match.id fact.id %}"><button type="button"><span class="glyphicon glyphicon-trash"></span></button></a>
            </li>
        {% endfor %}
    {% else %}
        <h2>No facts</h2>
    {% endif %}

    <br>
    <div>
            <a href="{% url 'competition:fact_add' match_id=match.id %}">
                <button type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add fact </button>
            </a>
    </div>
{% endblock %}