{% extends 'competition/base.html' %}
{% load staticfiles %}

{% block style %}
{{ block.super }}


img
{
    width: 100%;
    width: 220px;
    height: 220px;
    padding: 0px;
    margin: 0px;
}

.match
{
    border-style: ridge;
    text-align: initial;
}


.scores
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


{% endblock %}


{% block body %}

<div class="match col-md-8 col-sm-offset-2">
    <div class="row">
        <div class="col-md-4 pull-left" style="text-align: center;">
            <a href="{% url 'competition:team_details' match.host.id %}"><h3>{{ match.host.name }}</h3></a>
        </div>
        <div class="col-md-4 pull-right" style="text-align: center;">
            <a href="{% url 'competition:team_details' match.guest.id %}"><h3>{{ match.guest.name }}</h3></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 pull-left">
            <a> <img src="{{ match.host.avatar.url }}"> </a>
        </div>
        <div class="col-md-4 scores">
            <b style="font-size: 60px;">{{ match.hostGoals }} : {{ match.guestGoals }}</b>
        </div>
        <div class="col-md-4 pull-right">
            <a> <img src="{{ match.guest.avatar.url }}"> </a>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <p> {{ match.date }}</p>
        <a href="{% url 'competition:match_update' match.id %}">
            <button class="btn btn-default" type="button">Edit</button>
        </a>
        <a href="{% url 'competition:match_delete' match.id %}">
            <button class="btn btn-default" type="button">Delete</button>
        </a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
    {% if facts %}
            {% for fact in facts %}
                <p style="padding: 5px;">
                    <b style="font-size: 20px;">{{ fact.minute }}'</b>
                    {{ fact.player.name }} {{ fact.player.sname }}
                    {% if fact.incident == "goal" %}
                        <b>(Goal)</b>
                    {% elif fact.incident == "sub in" %}
                        <b>(Sub In)</b>
                    {% elif fact.incident == "sub out" %}
                        <b>(Sub Out)</b>
                    {% elif fact.incident == "red card" %}
                        <b>(Red Card)</b>
                    {% elif fact.incident == "yellow card" %}
                        <b>(Yellow Card)</b>
                    {% endif %}
                    <a href="{% url 'competition:fact_delete' match.id fact.id %}">
                    <button class="btn btn-default" type="button">Delete</button>
                    </a>
                </p>
            {% endfor %}
    {% else %}

    {% endif %}
        </div>
    </div>

    <hr/>


    <div class="row" style="text-align: center;">
        <a href="{% url 'competition:fact_add' match_id=match.id %}">
            <button class="btn btn-default" type="button">Add fact </button>
        </a>
    </div>
</div>


{% endblock %}