{% extends 'competition/base.html' %}

{%  block body %}

    <div class="row">
        <div class="col-sm-7">
            <h1>Pilkarze</h1>
        </div>
        <div class="col-sm-5">
            <a href="{% url 'competition:player-add'  %}">
                <button type="button" class="btn btn-default">Dodaj pilkarza</button>
            </a>
        </div>


    </div>


    {% if all_players %}
    <ul>

            <br>
            {% for player in all_players %}
                <li>
                    <a href="{% url 'competition:player_details' player.id  %}"> {{ player.name }} {{ player.sname }}</a>
                    <a href="{% url 'competition:player_update' player.id %}"><button type="button" class="btn btn-default">Edit</button></a>
                    <a href="{% url 'competition:player_delete' player.id %}"><button type="button" class="btn btn-default">Delete</button></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Niema pilkarzy do wyswietlenia </h3>
    {% endif %}
{% endblock %}