{% extends 'competition/base.html' %}

{% block body %}

    {% if teams %}
        <h1> {{ league_name }}</h1>
        {% for t in teams %}
            <li>
                <a href="{% url 'competition:team_details' t.id  %}"> {{ t.name }} </a>
            </li>
            <br>
        {% endfor %}
    {% else %}
        <h2>No Teams found.</h2>
    {% endif %}

    <a href="{% url 'competition:league_table' league_id  %}"> Sprawdz Tabela {{ league_id }}</a>

    {% if  kolejka_list %}
        {% for k_list in  kolejka_list %}
            <p> {{ league_name }} kolejka {{ k_list.name }} </p>
            {%  for match in k_list.match_set.all %}
                <a href="{% url 'competition:match_details' match.id  %}">
                    {{ match.host }}
                    {% if match.hostGoals != null %}
                        {{ match.hostGoals }} :
                    {% endif %}
                    {% if match.guestGoals != null %}
                        {{ match.guestGoals }}
                    {% endif %}
                    {{ match.guest }}
                </a>
                <a href="{% url 'competition:match_update' match.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                <br>
            {%  endfor %}
        {% endfor %}
    {% else %}
        <h2>No kolejka found.</h2>
    {% endif %}

{% endblock %}