{% extends 'competition/base.html' %}

{% block body %}

    {% if teams %}

        <div class="container-fluid">
            <div class=”row”>
                <div class="col-md-12" style="background-color: #BBBBCC"> <h1>{{ league_name }}</h1> </div>
            </div>
        </div>

        <div class="container-fluid" >
            <nav class="navbar navbar-default" style="background-color: #CCCCCC">
                <div class="conteiner-fluid" >
                    <div>
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'competition:league_table' league_id league_name %}" style="color: #000000"> <h3>Sprawdz Tabela<h3> </a></li>
                            {% for t in teams %}
                                <li><a href="{% url 'competition:team_details' t.id  %}"> <h3>{{ t.name }}</h3> </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
             </nav>
        </div>


    {% else %}
        <h2>No Teams found.</h2>
    {% endif %}

    <div class="container-fluid">
        <div class=”row”>
           <div class="col-md-12" style="background-color: #CCCDDD">

           </div>
        </div>
    </div>

    {% if  kolejka_list %}
        <div class="col-md-5">
            <div class="container-fluid">
                <table class="table table-hover">
                     <thead>
                        <tr>
                            <div class="col-md-2">
                                <th>Gospodarz</th>
                            </div>
                            <th></th>
                            <th></th>
                            <th>Goscie</th>
                            <th>Edytuj</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for k_list in  kolejka_list %}
                                <td>{{ league_name }} kolejka {{ k_list.name }}</td>
                            {%  for match in k_list.match_set.all %}
                                <tr>
                                    <td>
                                        <a href="{% url 'competition:match_details' match.id  %}">
                                            {{ match.host }}

                                        </a>
                                    </td>
                                    <td>
                                        {% if match.hostGoals != null %}
                                                {{ match.hostGoals }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if match.guestGoals != null %}
                                                {{ match.guestGoals }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'competition:match_details' match.id  %}">

                                            {{ match.guest }}
                                        </a>

                                    </td>
                                   <td>
                                        <a href="{% url 'competition:match_update' match.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                                        <br>
                                   </td>

                                </tr>
                            {%  endfor %}
                        {% endfor %}
                     </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h2>No kolejka found.</h2>
    {% endif %}
{% endblock %}