{% extends 'competition/base.html' %}

{%  block body %}

    <div>
        <br>
        <a href="{% url 'competition:team-add'  %}">
            <button type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Dodaj druzyne </button>
        </a>
    </div>

    {% if all_teams %}
    <ul>
        <h1>Drużyny</h1>
            <br>
             <br>
            {% for team in all_teams %}
                  <br>
                    <a href="{% url 'competition:team_details' team.id %}"> {{ team.name }} {{ player.sname }} </a>
                    <a href="{% url 'competition:team_update' team.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                    <a href="{% url 'competition:team_delete' team.id %}"><button type="button"><span class="glyphicon glyphicon-trash"></span></button></a>

            {% endfor %}
        </ul>
    {% else %}
        <h3>Niema druzyn do wyswietlenia </h3>
    {% endif %}
{% endblock %}