{% extends 'competition/base.html' %}

{% block style %}
{{ block.super }}

img
{
    width: 100%;
    width: 220px;
    height: 220px;
    padding: 5px;
    margin: 0px;
}

.team
{
    border-style: ridge;
    text-align: initial;
}

{% endblock %}

{% block body %}
<div class="team col-md-8 col-sm-offset-2">
    <div class="row">
        <div class="col-md-5" style="padding-right: 2cm;">
            <h1><strong>{{ team.name }}</strong></h1>
            <h3>Leagues:</h3>
            {% for league in team.league.all %}
                <a href="{% url 'competition:league_details' league.id %}"><p> {{ league.name }}</p></a>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <br>
            <h4>Total Stats:</h4>
            <p><span class="label label-success" style="font-size: 18px;">Matches Won: {{ total_matches_won }}</span></p>
            <p><span class="label label-warning" style="font-size: 18px;">Matches Lost: {{ total_matches_draw }}</span></p>
            <p><span class="label label-danger" style="font-size: 18px;">Matches Lost: {{ total_matches_lost }}</span></p>
            <br>
            <p><span class="label label-success" style="font-size: 18px;">Goals Scored:: {{ total_goals_scored }}</span></p>
            <p><span class="label label-danger" style="font-size: 18px;">Goals Lost: {{ total_goals_lost }}</span></p>
        </div>
        <div class="col-md-4">
            <a> <img src="{{ team.avatar.url }}"> </a>
            <div class="pull-right">
                <a href="{% url 'competition:team_update' team.id %}">
                    <button type="button"><span class="glyphicon glyphicon-edit"></span></button>
                </a>
                <a href="{% url 'competition:team_delete' team.id %}">
                    <button type="button"><span class="glyphicon glyphicon-trash"></span></button>
                </a>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-8" style="padding-right: 2cm;">
            {% for season in seasons %}
                <a href="{% url 'competition:season_table' season.league.id season.id %}">
                    <p>{{ season.league.name }} {{ season.season }}</p>
                </a>
                {% for stats in team_stats %}
                    {% if stats.season.id == season.id %}
            <p>
                <span class="label label-info">Won: {{ stats.matchesWon }}</span>
                <span class="label label-info">Draw: {{ stats.matchesDraw }}</span>
                <span class="label label-info">Lost: {{ stats.matchesLost }}</span>
                <span class="label label-info">Scored: {{ stats.goalsScored }}</span>
                <span class="label label-info">Lost: {{ stats.goalsLost }}</span>
            </p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>





    {% if players %}
        <ul>
            <h2>Players</h2>
            {% for player in players %}
                <li>
                    <a href="{% url 'competition:player_details' player.id  %}"> {{ player.name }} {{ player.sname }} </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>There is no players in this Team</h2>
    {% endif %}

</div>
{% endblock %}